@font-face {
    font-family: parastoo;
    src: url(../webfontes/Parastoo.eot);
    src: url(../webfontes/Parastoo.ttf);
    src: url(../webfontes/Parastoo.woff);
    src: url(../webfontes/Parastoo.woff2);
    src: url(../webfontes/Parastoo-Bold.eot);
    src: url(../webfontes/Parastoo-Bold.ttf);
    src: url(../webfontes/Parastoo-Bold.woff);
    src: url(../webfontes/Parastoo-Bold.woff2);
}